.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.app.dark {
  background-color: #292e46;
  color: white;

  .weather-cont {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .toggle-btn {
    background-color: #f0f5fe;
  }
  .thumb {
    background: #292e46;
  }
}

.app.light {
  background-color: #f0f5fe;
  color: #292e46;

  .weather-cont {
    background-color: rgba(219, 222, 225, 0.3);
  }
  .toggle-btn {
    background-color: #292e46;
  }
  .thumb {
    background: #f0f5fe;
  }
}

.weather-cont {
  width: 100%;
  max-width: 450px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .weather-cont {
    padding: 15px;
    max-width: 90%;
  }
}
@media (max-width: 400px) {
  .weather-cont {
    padding: 10px;
    max-width: 90%;
  }
}

.weather-info {
  text-align: center;
  margin-top: 40px;
}

.weather-city {
  font-size: 25px;
  margin: 0;
}

.weather-temp {
  font-size: 35px;
  margin: 0;
}

.weather-detail {
  font-size: 15px;
  margin: 0;
}

.search {
  position: relative;
  width: 300px;      
  height: 40px;      
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 10px;
  padding-left: 30px;
  border: 3px solid #8C52FF;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  color: #616161;
}

.search-btn {
  margin-top: 30px;
  width: 20vh;
  height: 5vh;
  border: none;
  border-radius: 5px;
  color: white;
  background: #8C52FF;
  cursor: pointer;
  z-index: 999;
}

.search-btn:hover {
  opacity: 90%;
}

.forecast-cont {
  margin-top: 45px;
  width: 100%;
  max-width: 400px;
  overflow-x: auto;
  display: flex;
}

.forecast-item { 
  display: flex;
  flex: 0 0 auto;
  width: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggle-btn-wrapper {
  position: absolute;
  top: 10px;
  right: 15px;
}

.toggle-btn {
  position: relative;
  cursor: pointer;
  border-radius: 99px;
  width:50px;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
}

.thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 99;
}

.toggle-btn.active .thumb {
  transform: translateX(20px);
}

.sun, .moon {
  color: #FFCE1B;
  position: absolute;
  font-size: 14px;
}

.sun {
  left: 5px;
}

.moon {
  right: 5px;
}